@keyframes typing {
  0% {
    background-color: #747d86;
    box-shadow: 20px 0px 0px 0px rgba(116, 125, 134, 0.2), 40px 0px 0px 0px rgba(116, 125, 134, 0.2); }
  50% {
    background-color: rgba(116, 125, 134, 0.4);
    box-shadow: 20px 0px 0px 0px #747d86, 40px 0px 0px 0px rgba(116, 125, 134, 0.2); }
  100% {
    background-color: rgba(116, 125, 134, 0.4);
    box-shadow: 20px 0px 0px 0px rgba(116, 125, 134, 0.2), 40px 0px 0px 0px #747d86; }
}

.ka-loading {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff2f;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.ka-loading-active {
    position: relative; 
}  
.ka-loading-icon {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    animation: typing .3s linear infinite alternate;
    position: relative;
    left: -20px; 
}