.primary{
    text-align: center;
    font-size: 300%;
}
h2{
    text-align: left;
    font-size: 200%;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
body {
    overflow-x: hidden;
    }
.container {
  max-width: 100%  
}
li{
    font-size: large;
}